

.navbar{
    width: 100%;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    background-color: #263238;
    text-transform: uppercase;
    
}

.nav-div{
    padding-bottom: 2%;
    padding-left: 5%;
    padding-top: 2%;
    background-color: #263238;
}


.left-nav-a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #fff;

}

.left-nav-a:hover{
    color: #27ae60;
}

.left-nav-a:link{
    color: none;
    text-decoration: none;
}
.left-nav-a:visited{
    color: none;
    text-decoration: none;
}

.right-nav-a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 5%;
    float: right;
    font-size: 25px;
    color: #fff;
    
}

.right-nav-a:hover{
    color: #27ae60;
}

.right-nav-a:link{
    color: none;
    text-decoration: none;
}
.right-nav-a:visited{
    color: none;
    text-decoration: none;
}
